<ul>
  <li> <a href="{{ get_url(path="@/_index.md") }}">Home</a></li>
  <li> <a href="{{ get_url(path="@/what-is-sile/index.md") }}">What is SILE?</a></li>
  <li> <a href="{{ get_url(path="@/examples/index.md") }}">Examples</a>
    <ul>
      <li><a href="{{ get_url(path="@/examples/global.md") }}">Global Scripts</a></li>
      <li><a href="{{ get_url(path="@/examples/packages.md") }}">Packages</a></li>
    </ul>
  </li>
  <li> <a href="{{ get_url(path="/manual/sile-0.14.17.pdf") }}">Manual (PDF)</a></li>
  <li> <a href="{{ get_url(path="@/sil-grammar/index.md") }}">SIL Grammar</a></li>
  <li> <a href="https://github.com/sile-typesetter/sile/releases"><strong>Download</strong></a></li>
</ul>
